<div id="nav">
    <div id="nav_list">
            <a class="navigation__link" href="/">HOMEPAGE</a>
            <a class="navigation__link" id="subjects" href="/subjects">SUBJECTS</a>
            <a class="navigation__link" href="/dashboard">DASHBOARD</a>
    </div>
</div>