<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/logo.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Subject</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="add">
    <%- include('partials/nav.ejs') %>
    <form action="/subjects/add" method="POST" id="add-subject-form">
        <label for="subject-name">Subject Name:</label>
        <input type="text" id="subject-name" name="subjectName" required>
        <button type="submit">Add Subject</button>
    </form>
</body>
</html>